@import "tailwindcss";

@import "@heroui/styles"; 


@theme inline {

  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}
body {
  font-family: var(--font-sans);
}
h1, h2, h3 {
  font-family: var(--font-heading);
}



